<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name, "First Name", for: "first_name" %>
  <%= f.text_field :first_name, id: "first_name" %></div>

  <div><%= f.label :last_name, "Last Name", for: "last_name" %>
  <%= f.text_field :last_name, id: "last_name" %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, id: "email" %></div>

  <div> <%= f.label :default_share_preference, "Default Share Preference:", for: "default_share_preference" %>
  <%= f.select :default_share_preference, options_for_select(["public", "with friends", "private"], resource.default_share_preference) %></div>

  <div> <%= f.label :default_view_preference, "Default View Preference:", for: "default_view_preference" %>
  <%= f.select :default_view_preference, options_for_select(["My Stories", "My Friends", "Public"], resource.default_view_preference) %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, id: "password", :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, id: "current_password" %></div><br />




  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
