<h4>Create a New Account</h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name, "First Name", for: "first_name" %>
  <%= f.text_field :first_name, id: "first_name" %></div>

  <div><%= f.label :last_name, "Last Name", for: "last_name" %>
  <%= f.text_field :last_name, id: "last_name" %></div>
 
  <div><%= f.label :email %>
  <%= f.email_field :email, id: "email" %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password, id: "password" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, id: "password_confirmation" %></div>

  <div> <%= f.label :default_share_preference, "Default Share Preference:", for: "default_share_preference" %>
  <%= f.select :default_share_preference, options_for_select(["public", "with friends", "private"]) %></div>

  <div> <%= f.label :default_view_preference, "Default View Preference:", for: "default_view_preference" %>
  <%= f.select :default_view_preference, options_for_select(["My Stories", "My Friends", "Public"], resource.default_view_preference) %></div>

  <div>
    <%= f.check_box :terms, id: "terms" %>
    <%= f.label :terms, "I accept the terms and conditions", for: "terms"%>
	</div>

  <div><%= f.submit "Create Account" %></div>
<% end %>

<%= render "devise/shared/links" %>
