<h1>SMKS</h1>

<%= form_for(@new_user, url: users_path(@new_user)) do |f| %>

	<%= f.label :first_name, "First Name:", for: "first_name" %>
	<%= f.text_field :first_name, id: "first_name" %> 

	<%= f.label :last_name, "Last Name:", for: "last_name" %>
	<%= f.text_field :last_name, id: "last_name" %> 

	<%= f.label :email, "Email:", for: "email" %>
	<%= f.text_field :email, id: "email" %> 

	<%= f.label :terms, "I accept the terms and conditions", for: "terms"%>
	<%= f.check_box :terms, id: "terms" %> 

	<%= submit_tag "Submit"%>


<%end%>