 <h1>Edit Profile View</h1>

<%=form_for(@existing_user, url: user_path(@existing_user), html: {method: "put"}) do |f|  %> 
	
	<%= f.label :first_name  %>
	<%= f.text_field :first_name  %>
	
	<%= f.label :last_name  %>
	<%= f.text_field :last_name %>

	<%= f.label :email  %>
	<%= f.text_field :email %>

	<%= submit_tag "Update"%>
	<p>link</p>
<%end%>

