Whe<h1>SMKS</h1>
<!-- use form_for here, create an unsaved instance of user to render the form --> 
<%= form_tag users_path do %>

	<%= label_tag "first_name", "First Name:" %>
	<%= text_field_tag "first_name" %> 

	<%= label_tag "last_name", "Last Name:" %>
	<%= text_field_tag "last_name" %> 

	<%= label_tag "email", "Email:" %>
	<%= text_field_tag "email" %> 

	<%= label_tag "accept_terms", "I accept the terms and conditions"%>
	<%= check_box_tag "accept_terms", "1" %>
<!-- use submit_tag below -->
	<%= button_tag "Submit", name: "submit_new" %>


<%end%>