
	<h1> User Profile Views</h1>

	<%= label_tag "first_name", "First Name:" %>
	<%= text_field_tag "first_name", @user.first_name %>
	

	<%= label_tag "last_name", "Last Name:" %>
	<%= text_field_tag "last_name", @user.last_name %> 

	<%= label_tag "email", "Email:" %>
	<%= text_field_tag "email", @user.email %> 

	<%= link_to "Edit", edit_user_path(@user) %>

	<br>
