<h4>Find a Friend</h4>

<%=form_tag friendships_path, method: :get do %>

<%=text_field_tag :search, params[:search], placeholder: "your friend's email"%>
<%=submit_tag "Search", name: nil%>

<%end%>

<% if @users%>
	<%if @users != []%>
	<ul>
		<%@users.each do |user|%>
			<li>
				<%=user.email%>
				<%=link_to "Add as Friend", friendships_path(friend_id: user), method: :post%>
			</li>
		<%end%>
	</ul>
	<%else%>
		<p>No users were found with that email. Search again.</p>
	<%end%>
<%end%>
<br>
<h4> My Friends </h4>

	<% if @friendships == []%>
		<p>You have not yet added any friends.</p>
	<%else%>
		<% for friendship in @friendships%>
		<%= friendship.friend.first_name%> 
		<%= friendship.friend.last_name[0]+"."%> |
		<%= friendship.friend.email%>
		<small><%= link_to "(Remove as Friend)", friendship_path(friendship), method: :delete%></small>
		<br>
		<%end%>
	<%end%>
	<br>
	<small>These are individuals that you are allowing to view your 'shared with friends' content.</small>
	<hr />

<h4> Friended by </h4>
	<% if @inverse_friendships == []%>
		<p>You have not yet been added as a friend by anyone.</p>
	<%else%>
		<%current_user.inverse_friends.each do |user|%>
			<%=user.first_name%>
			<%=user.last_name[0]+"."%> | 
			<%=user.email%>
			<%if Friendship.where(user_id: user.id).where(friend_id: current_user.id).first.hide_content?%>
				<small><%= link_to "(Show Their Content)", friendship_path(Friendship.where(user_id: user.id).where(friend_id: current_user.id).first), method: :put%></small>
			<%else%>
				<small><%= link_to "(Hide Their Content)", friendship_path(Friendship.where(user_id: user.id).where(friend_id: current_user.id).first), method: :put%></small>
			<%end%>
			<br>
		<%end%>
	<%end%>
	<br>
	<small>These are individuals that are allowing you to view their 'shared' content.</small>
