	<%if current_user == nil
	 		@rating = Rating.new
	 	else
	 		@rating = Rating.where(story_id: @existing_story.id).where(user_id: current_user.id).first || Rating.new
	 	end
	 	@ratings = Rating.where(story_id: @existing_story.id)
	 	%>




<p>Thumbs Up: <%=@ratings.where(name: 'thumbs up').count%> | Thumbs Down: <%=@ratings.where(name: 'thumbs down').count%></p>
	<%if current_user != nil && @existing_story.user_id != current_user.id%>
		<%if @rating.name != nil%>
			<p><%="You scored this a #{@rating.name}!"%></p>
		<%else%>
			<%= form_for(@rating, url: ratings_path) do |f| %> 
			 	<%= button_tag "Thumbs Up", name: "t_up", value: @existing_story.id %>	
			 	<%= button_tag "Thumbs Down", name: "t_down", value: @existing_story.id %>
		 	<%end%>
		<%end%>
	<%end%>