	<%if current_user == nil
	 		@rating = Rating.new
	 	else
	 		@rating = Rating.where(story_id: @existing_story.id).where(user_id: current_user.id).first || Rating.new
	 	end
	 	@ratings = Rating.where(story_id: @existing_story.id)
	 	%>

<% if @ratings.count > 0%>
<% scores= @ratings.uniq.pluck(:numeric_score) %>
<%total_ha_has = 0 %>
<% scores.each do |f| %>
	<%total_ha_has = total_ha_has + @ratings.where(numeric_score: f).count * f%>
<%end%>
	<%average_score = "#{total_ha_has / @ratings.count}x"%>
		<%if @ratings.count > 1%>
			<%people = "people"%>
		<%else%>
			<%people = "person"%>
		<%end%>
	<%else%>
	<%average_score = "Not yet rated"%>

<%end%>


<p>Ha-Ha Rating: <%=average_score%> <i>(per <%=@ratings.count%> <%=people%>) </i>
	<%if current_user != nil && @existing_story.user_id != current_user.id%>
		<%if @rating.numeric_score != nil%>
			<br><%="You gave this #{@rating.numeric_score} Ha-Ha's"%></p>
		<%else%>

			<%= form_for(@rating, url: ratings_path) do |f| %> 
			 	<div>
			 	How Many Ha-Ha's?: <br>
			 	 
			 	<%= hidden_field_tag :story_id, @existing_story.id %>
			 	<%= button_tag "0", name: "rating", value: 0, class: "btn btn-small btn-danger " %>
			 	<%= button_tag "1", name: "rating", value: 1, class: "btn btn-small  btn-warning " %>
		 		<%= button_tag "3", name: "rating", value: 3, class: "btn btn-small btn-info"%>
			 	<%= button_tag "5", name: "rating", value: 5, class: "btn btn-small " %>	
			 	<%= button_tag "7", name: "rating", value: 7, class: "btn btn-small btn-primary"%>
			 	<%= button_tag "10", name: "rating", value: 10, class: "btn btn-small btn-success" %>	
			 	
		 		</div>
		 	<%end%>
		<%end%>
	<%end%>