<h1>Edit My Story </h1>


<%= form_for(@current_story, url: story_path(@current_story), html: {method: "put"} ) do |f| %>

	<%=image_tag Image.where(story_id: @current_story).first.s3_image_loc_url.to_s if Image.where(story_id: @current_story.id).first%>

	<%= f.label :title, "Title:", for: "title" %>
	<%= f.text_field :title, id: "title" %> 

	<br>

	<%= label_tag :kid_name, "Child's First Name:"%>
	<%= select_tag :kid_name, options_for_select(Kid.where(user_id: current_user.id).map(&:name), @kid_name)%> <%=link_to "Add Child", new_kid_path%> 
	<br>

	<%= f.label :body, "Body:", for: "body" %>
	<%= f.text_area :body, id: "body" %><br>

	<%= f.label :share_type%>
	<%= f.select :share_type, options_for_select(["public", "with friends", "private"], @current_story.share_type)%>

	<%= f.label :status, "Status#:"%>
	<%= f.text_field :status%>

	<br>
	<%= button_tag "Publish", name: "publish", class: "btn btn-success btn-small" %>
	<%= button_tag "Save as Draft", name: "save_as_draft", class: "btn btn-small" %>
	<%= link_to "Cancel", story_path(@current_story)%>

<%end%>