<h4>Edit My Story </h4>


<%= form_for(@current_story, url: story_path(@current_story), html: {multipart: true, method: "put"}, role:"form" ) do |f| %>

	<%if Image.where(story_id: @current_story.id).first%>
		<%=image_tag Image.where(story_id: @current_story).first.s3_image_loc_url.to_s, class:"img-thumbnail" %>
		<br>
		<small>
			<%=link_to "Delete", image_path(Image.where(story_id: @current_story.id).first), method: :delete, confirm: "Are You Sure?"%>
			&nbsp;&nbsp;
			<%=link_to "Replace", edit_image_path(Image.where(story_id: @current_story.id).first)%>
		<%else%>
			<%=link_to "Add Image", new_image_path(story_id: @current_story.id)%>
		</small>
	<%end%>

	<br><br>
	<div class="form-group">
		<%= f.label :title, "Title:", for: "title" %>
		<%= f.text_field :title, id: "title", class:"form-control" %> 
	</div>

	<div class="form-group">
		<%= f.label :date_occurred, "Date Occurred:", for: "date_ocurred" %>
		<div class="row">
			<div class="col-sm-4">
				<input type="date" name="date_occurred"  value=<%=@current_story.date_occurred%> class="form-control">
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :person_id, "Attribute to:"%><br>
		<%= f.select :person_id, options_from_collection_for_select(Person.where(user_id: current_user.id).order("name"), :id, :name, @current_story.person.id), class:"form-control"%> &nbsp;&nbsp;<%=link_to "Add Child/Person", people_path%> 
	</div>
	<div class="form-group">
		<%= f.label :body, "Body:", for: "body" %>
		<%= f.text_area :body, id: "body", class:"form-control", rows:10 %>
	</div>
	
	<div class="form-group">
		<%= f.label :share_type, "Share Type:"%><br>
		<%= f.select :share_type, options_for_select(["public", "with friends", "private"], @share_type) %>
	</div>

	<%= f.hidden_field :status%>

	<br><br>
	<%= button_tag "Publish", name: "publish", class: "btn btn-success btn-sm", data: { disable_with: "Processing"} %>
	<%= button_tag "Save as Draft", name: "save_as_draft", class: "btn btn-default btn-sm", data: { disable_with: "Processing"} %>
	&nbsp;&nbsp;
	<%= link_to "Cancel", story_path(@current_story)%>

<%end%>