<h4>Edit My Story </h4>


<%= form_for(@current_story, url: story_path(@current_story), html: {multipart: true, method: "put"} ) do |f| %>

	<%if Image.where(story_id: @current_story.id).first%>
		<%=image_tag Image.where(story_id: @current_story).first.s3_image_loc_url.to_s %>
		<br>
		<small>
			<%=link_to "Delete", image_path(Image.where(story_id: @current_story.id).first), method: :delete, confirm: "Are You Sure?"%>
			&nbsp;&nbsp;
			<%=link_to "Replace", edit_image_path(Image.where(story_id: @current_story.id).first)%>
		<%else%>
			<%=link_to "Add Image", new_image_path(story_id: @current_story.id)%>
		</small>
	<%end%>


	<%= f.label :title, "Title:", for: "title" %>
	<%= f.text_field :title, id: "title" %> 

	<br>

	<%= f.label :date_occurred, "Date Occurred:", for: "date_ocurred" %>
	<input type="date" name="date_occurred" value=<%=@current_story.date_occurred%>>

	<%= label_tag :kid_name, "Attribute to:"%>
	<%= select_tag :kid_name, options_for_select(Kid.where(user_id: current_user.id).map(&:name), @kid_name)%> <%=link_to "Add Child", kids_path%> 
	<br>

	<%= f.label :body, "Body:", for: "body" %>
	<%= f.text_area :body, id: "body" %><br>

	<%= f.label :share_type%>
	<%= f.select :share_type, options_for_select(["public", "with friends", "private"], @share_type)%>

	<%= f.hidden_field :status%>

	<br>
	<%= button_tag "Publish", name: "publish", class: "btn btn-success btn-small" %>
	<%= button_tag "Save as Draft", name: "save_as_draft", class: "btn btn-small" %>
	<%= link_to "Cancel", story_path(@current_story)%>

<%end%>