
<div class="container">
<%if @type == "public" || @type == nil%>
	<div class="row">
		<div class="span9">
			<h4>Shared with Everyone</h4>
<%elsif @type == "personal"%>
	<div class="row">
		<div class="span12">
	<h4>All of My Stories</h4>

<%elsif @type == "shared"%>
	<div class="row">
		<div class="span12">
	<h4>Me & My Friends' Shared Stories</h4>

<%else%>
	<div class="row">
		<div class="span12">
	<h4>My Draft Stories</h4>
<%end%>


<%=link_to "Create", new_story_path %> 
<%if @draft_stories_count.to_i > 0%>
	| <%=link_to "Finish Draft(#{@draft_stories_count})", stories_path(type: "draft") %>
<%end%>


	<% @existing_stories.each do |existing_story|%>

<div class="row-fluid thumbnail">

	<%if existing_story.images.first != nil  && existing_story.images.first != ""%>
		<div class= "span3">
		<%if Image.where(story_id: existing_story.id).first != nil && Image.where(story_id: existing_story.id).first != ""%>
			<%=image_tag Image.where(story_id: existing_story.id).first.s3_image_loc_url.to_s, class:"img-responsive img-thumbnail"  %>
		<%end%>
		</div>
		<%@story_length = 300%>

		<%@text_span = "span9"%>
	<%else%>
		<%@text_span = "span12"%>
		<%@story_length = 600%>
	<%end%> 

	
	<div class= <%=@text_span%> >
		<h4 style="display: inline"><%= link_to existing_story.title, story_path(existing_story, type: @type) %></h4>
      		<p><%= existing_story.body[0..(@story_length - 1)]%>
	 					<%if existing_story.body.length > @story_length%>
	 						<%=link_to "...more", story_path(existing_story, type: @type) %>
	 					<%end%> ~
	 					<%=existing_story.person.name%> - <%=existing_story.date_occurred.strftime("%m/%d/%Y") if existing_story.date_occurred%>

	 					<%if existing_story.date_occurred && existing_story.person.birthdate%>
	 						- Age: <%=existing_story.calculate_story_age%>
	 					<%end%>
	 					  <br><br>

		 				<small>	  
							<%@existing_story = existing_story%>   <!--for ratings and facebook partial -->
		 					<%=render "facebook_partial"%>

		 					<%=existing_story.status.capitalize%>

		 					by <%=existing_story.user.first_name.capitalize%>

		 					<%if existing_story.published_date != nil && existing_story.status == "published"%>
		 						
		 					| <%=existing_story.share_type%>
		 				
		 					<%end%>
		 					

		 					<% if can? :update, existing_story  %>
		 						|&nbsp;
		 						<%=link_to edit_story_path(existing_story), id:"edit_story" do%>
									<span class="glyphicon glyphicon-pencil"></span>
								<%end%>
							<%end%>
							<% if can? :destroy, existing_story  %>
								
								&nbsp;|&nbsp;
								<%= link_to story_path(existing_story), method: :delete, confirm: "Are You Sure?", id:"delete_story" do%>
									<span class="glyphicon glyphicon-remove"></span>
								<%end%>
							<%end%>	
		
							<%= render "ratings_partial" %><br>
							Remarks: <%=existing_story.remarks.count%> &nbsp;| &nbsp; </small>
							<%=link_to new_remark_path(story_id: existing_story.id), id:"create_remark" do%>
								<span class="glyphicon glyphicon-pencil"></span>
							<%end%>



		 				</p>
		 					
	</div>
</div>
<br>
<%end%>


	</div> <!-- closs out the span	-->
	


<!--	
< %if @type == "public" || @type == nil%>
	<div class="span3">
		<br><br>
		<b>This Month's 10 Most Funny</b>
		< %=@top_rated%>
		<hr />
		< % for i in (0..(@top_stories.size-1))%>
			< %id = @top_stories[i]%>
			< %story = Story.find(id[0])%><br>
			<b>< %=link_to story.title, story_path(story, type: @type)%></b><br>
			"< %=story.body[0..299]%>
				< %if story.body.length > 300%>
	 				< %=link_to "...more", story_path(story, type: @type) %>"
	 			< %else%>
	 			"
	 			< %end%>
			<br>
			Thumbs Up: < %=id[1]%><br><br>
		< %end%>
	</div>
< %end%>
-->
</div> <!-- close out the row-->
</div>
