
<div class="container">
<%if @type == "public" || @type == nil%>
	<div class="row">
		<div class="span9">
			<h1>Share with Everyone</h1>
<%elsif @type == "personal"%>
	<div class="row">
		<div class="span12">
	<h1>All of My Stories</h1>

<%elsif @type == "shared"%>
	<div class="row">
		<div class="span12">
	<h1>Me & My Friends' Shared Stories</h1>

<%else%>
	<div class="row">
		<div class="span12">
	<h1>My Draft Stories</h1>
<%end%>


<%=link_to "Create", new_story_path %> 
<%if @draft_stories_count.to_i > 0%>
	| <%=link_to "Finish Draft(#{@draft_stories_count})", stories_path(type: "draft") %>
<%end%>


	<% @existing_stories.each do |existing_story|%>

<div class="row-fluid thumbnail">

	<div class= "span3">
		<%=image_tag Image.where(story_id: existing_story.id).first.s3_image_loc_url.to_s if Image.where(story_id: existing_story.id).first%>
	</div>
	<div class= "span9" >
		<h4 style="display: inline"><%= link_to existing_story.title, story_path(existing_story, type: @type) %></h4>
      		<p><%= existing_story.body[0..299]%>
	 					<%if existing_story.body.length > 300%>
	 						<%=link_to "...more", story_path(existing_story, type: @type) %>
	 					<%end%> ~
	 					<%=existing_story.kid.name%> - Age: ____<br><br>


						<%@existing_story = existing_story%>   <!--for ratings and facebook partial -->
	 					<%=render "facebook_partial"%>

	 					By: <%=existing_story.user.first_name.capitalize%> on 

	 					<%if existing_story.published_date != nil%>
	 						<%=existing_story.published_date.strftime("%m/%d/%Y") %> 
	 					<%else%>
	 						<%="'not yet published'"%>
	 					<%end%>
	 					<br>

	 					<% if can? :update, existing_story  %>
							<%= link_to "Edit Story", edit_story_path(existing_story) %> |
						<%end%>
						<% if can? :destroy, existing_story  %>
							<%= link_to "Delete", story_path(existing_story), method: :delete, confirm: "Are You Sure?" %>
						<%end%>	
	
						
						<%= render "ratings_partial" %>
	 				</p>
		
	</div>
</div>
<br>
<%end%>


	</div> <!-- closs out the span	-->
	
<%if @type == "public" || @type == nil%>
	<div class="span3">
		<br><br>
		<b>This Month's 10 Most Funny</b>
		<%=@top_rated%>
		<hr />
		<% for i in (0..(@top_stories.size-1))%>
			<%id = @top_stories[i]%>
			<%story = Story.find(id[0])%><br>
			<b><%=link_to story.title, story_path(story, type: @type)%></b><br>
			"<%=story.body[0..299]%>
				<%if story.body.length > 300%>
	 				<%=link_to "...more", story_path(story, type: @type) %>"
	 			<%else%>
	 			"
	 			<%end%>



			<br>
			Thumbs Up: <%=id[1]%><br><br>

			<%end%>
	</div>
<%end%>

</div> <!-- close out the row-->
</div>
