       <!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <br><br>

  <div class="container">

            <div class="hero-unit">
              <div align="middle">
                <img src="" width="300"/>
                <h1>SMKS</h1>                
                  <p>An online scrapbook/journal for new parents.  <br>
                <a href=<%=stories_path%>>Enter</a></p>
            </div>
          </div>
          <div class="row" >
            <div class="span4">
              <h4><a href=<%=marketing_path%>>My Scrapbook</h4></a>
                <p>Maintain an online scrapbook of personal and shared memories as you begin your new life as a parent.  </p>
            </div>
            <div class="span4">
              <h4><a href=<%=marketing_path%>> Share Something Funny</a></h4>
                <p>Share those often hilarious moments that occur as you begin your crash course in Parenting 101 and as your child discovers their new world.</p>
           </div>
            <div class="span4">
              <h4><a href=<%=marketing_path%>>Read Something Funny</a></h4>
              <p> Take a break, laugh, and commiserate.  

            </div>
          
            
            
          </div>
        <hr />
        <div class="footer">
          <p><i>  &copy; 2013 SGC Endeavors, Inc.  All rights reserved. A Ruby-on-Rails / Twitter-Bootstrap Design. <br></p>
        </div><br>


      </div>
    </body>
    </html>