       <!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <br><br>

  <div class="container">

            <div class="hero-unit">
              <div align="middle">
                <img src="../images/riley.jpg" width="300"/>
                <h1>SMKS</h1><br>
                <p>An online journal for capturing and sharing (or not sharing) those memorable and often-amusing moments as your child discovers their new world.<br><br>
                <a href=<%=stories_path%>>Enter</a></p>
            </div>
          </div>
          <div class="row" >
            <div class="span4">
              <h4 align="center"><a href=<%=marketing_path%>>My Personal Journal</a></h4>
            </div>
            <div class="span4">
              <h4 align="center"><a href=<%=marketing_path%>> Share Something Funny</a></h4>
           </div>
            <div class="span4">
              <h4 align="center"><a href=<%=marketing_path%>>Read Something Funny</a></h4>
            </div>
          
            
            
          </div>
        <hr />
        <div class="footer">
          <p><i>  &copy; 2013 SGC Endeavors, Inc.  All rights reserved. A Ruby-on-Rails / Twitter-Bootstrap Design. <br></p>
        </div><br>


      </div>
    </body>
    </html>