<% header = if @share_type == "public"
	"to Share"
else
	"for my Scrapbook Only"
end%>

<h1>Create a Story <%=header%> </h1>

<%= form_for(@new_story, html: { multipart: true }, url: stories_path(@new_story)) do |f| %>
	
	<%=file_field_tag :s3_image_loc%>

	<%= f.label :title, "Title:", for: "title" %>
	<%= f.text_field :title, id: "title" %> 

	<br>
	
	<%= label_tag :kid_name, "Child's First Name:"%>
	<%= select_tag :kid_name, options_for_select(Kid.where(user_id: current_user.id).map(&:name))%> <%=link_to "Add Child", new_kid_path%> 

	<%= f.label :body, "Body:", for: "body" %>
	<%= f.text_area :body, id: "body" %>

	<%= f.label :share_type, "Share Type:", for: "share_type" %>
	<%= f.select :share_type, options_for_select(["public", "private"], @share_type) %><br>

	<%= f.hidden_field :user_id, id: "user_id" %>


	<%= button_tag "Publish", name: "publish", class: "btn btn-success btn-small" %>
	<%= button_tag "Save as Draft", name: "draft", class: "btn btn-small" %>
	<%= link_to "Cancel", stories_path%>

<%end%>

