

<h4>Create a Story </h4>

<%= form_for(@new_story, html: { multipart: true }, url: stories_path(@new_story), role:"form") do |f| %>
	
	
		<%=file_field_tag :s3_image_loc%> <br>
	

	<div class="form-group">
		<%= f.label :title, "Title:", for: "title" %>
		<%= f.text_field :title, id: "title", class:"form-control" %> 
	</div>


	<div class="form-group">
		<%= f.label :date_occurred, "Date Occurred:", for: "date_ocurred" %>
		<div class="row">
			<div class="col-sm-4">
				<input type="date" name="date_occurred"  value=<%=Date.current%> class="form-control">
			</div>
		</div>
	</div>



	
	<div class="form-group">
		<%= f.label :person_id, "Attribute to:"%><br>
		<%= f.select :person_id, options_from_collection_for_select(Person.where(user_id: current_user.id).order("name"), :id, :name), class:"form-control"%> &nbsp;&nbsp;<%=link_to "Add Child/Person", people_path%> 
	</div>

	<div class="form-group">
		<%= f.label :body, "Body:", for: "body" %>
		<%= f.text_area :body, id: "body", class:"form-control" , rows:10%>
	</div>
	
	<div class="form-group">
		<%= f.label :share_type, "Share Type:", for: "share_type" %><br>
		<%= f.select :share_type, options_for_select(["public", "with friends", "private"], @share_type),class:"form-control" %><br><br>
	</div>

	<%= f.hidden_field :user_id, id: "user_id" %>


	<%= button_tag "Publish", name: "publish", class: "btn btn-success btn-sm", data: { disable_with: "Processing"}%>
	<%= button_tag "Save as Draft", name: "draft", class: "btn btn-sm btn-default", data: { disable_with: "Processing"} %>
	&nbsp;&nbsp;
	<%= link_to "Cancel", stories_path%>

<%end%>

