

<h4>Create a Story </h4>

<%= form_for(@new_story, html: { multipart: true }, url: stories_path(@new_story)) do |f| %>
	
	<%=file_field_tag :s3_image_loc%>


	<%= f.label :title, "Title:", for: "title" %>
	<%= f.text_field :title, id: "title" %> 

	<br>

	<%= f.label :date_occurred, "Date Occurred:", for: "date_ocurred" %>
	<input type="date" name="date_occurred" value=<%=Date.current%>>


	<%= label_tag :kid_name, "Attribute to:"%>
	<%= select_tag :kid_name, options_for_select(Kid.where(user_id: current_user.id).map(&:name), @kid_name)%> <%=link_to "Add Child", kids_path%> 

	<%= f.label :body, "Body:", for: "body" %>
	<%= f.text_area :body, id: "body" %>

	<%= f.label :share_type, "Share Type:", for: "share_type" %>
	<%= f.select :share_type, options_for_select(["public", "with friends", "private"], @share_type) %><br>

	<%= f.hidden_field :user_id, id: "user_id" %>


	<%= button_tag "Publish", name: "publish", class: "btn btn-success btn-small" %>
	<%= button_tag "Save as Draft", name: "draft", class: "btn btn-small" %>
	<%= link_to "Cancel", stories_path%>

<%end%>

