
	<div align="middle">
		<%=link_to "<<", story_path(@previous_story, type: @type) if @previous_story%>
		
		<%=image_tag Image.where(story_id: @existing_story.id).first.s3_image_loc_url.to_s, class:"img-responsive" if Image.where(story_id: @existing_story.id).first%>

		<%=link_to ">>", story_path(@next_story, type: @type) if @next_story%>

	<h4><%=@existing_story.title%> </h4>

	<p align="left"><%=raw(@existing_story.body.gsub("\n", "<br>")) %>
		<br>
		~ <%=@existing_story.person.name%> - <%=@existing_story.date_occurred.strftime("%m/%d/%Y") if @existing_story.date_occurred%> <%=@age%></p>
	




	<%=render "facebook_partial"%>

<small>
	<%=@existing_story.status.capitalize%>
	by: <%=@existing_story.user.first_name.capitalize%> 

	<%if @existing_story.published_date != nil && @existing_story.status == "published"%>
		<%="on #{@existing_story.published_date.strftime("%m/%d/%Y")}" %> 
		| <%=@existing_story.share_type%>
		<br>
	<%end%>

	<% if can? :update, @existing_story  %>
		| <%= link_to "Edit Story", edit_story_path(@existing_story) %> |
		<%= link_to "Delete Story", story_path(@existing_story), method: :delete, confirm: "Are You Sure?" %>

	<%end%>

	
	<br>

	<%= render "ratings_partial" %>

</small>

	<h5>Remarks</h5>
	<%= link_to "Create Remark", new_remark_path(story_id: @existing_story.id) %> 
<br>
	<%@remarks.each do |remark| %>
	<%=remark.body%>	- <%=remark.user.first_name.capitalize%>  
	<%if can? :update, remark %>
		| <%= link_to "Edit Remark", edit_remark_path(remark)%> 
		| <%= link_to "Delete", remark_path(remark)%>
	<%end%>
	
		<br>
	<%end%>

</div>
<br>