<br><br>
	<div align="middle">
		<%=link_to "<<", story_path(@previous_story, type: @type) if @previous_story%>
		
		<%=image_tag Image.where(story_id: @existing_story.id).first.s3_image_loc_url.to_s if Image.where(story_id: @existing_story.id).first%>

		<%=link_to ">>", story_path(@next_story, type: @type) if @next_story%>

	<h3><%=@existing_story.title%> </h3>

	<p><%=@existing_story.body %>~ <%=@existing_story.kid.name%> - <%=@existing_story.date_occurred.strftime("%m/%d/%Y") if @existing_story.date_occurred%></p>
	


	<%=render "facebook_partial"%>


<p>By: <%=@existing_story.user.first_name.capitalize%> | Date: <%=@existing_story.published_date.strftime("%m/%d/%Y") if @existing_story.published_date %> | Type: <%=@existing_story.share_type%> | Status: <%=@existing_story.status%>

	<% if can? :update, @existing_story  %>
		| <%= link_to "Edit Story", edit_story_path(@existing_story) %> |
		<%= link_to "Delete Story", story_path(@existing_story), method: :delete, confirm: "Are You Sure?" %>

	<%end%>
</p>
	
	<br>

	<%= render "ratings_partial" %>

	<h4>Remarks</h4>
	<%= link_to "Create Remark", new_remark_path(story_id: @existing_story.id) %> 
<br>
	<%@remarks.each do |remark| %>
	<%=remark.body%>	- <%=remark.user.first_name.capitalize%>  
	<%if can? :update, remark %>
		| <%= link_to "Edit Remark", edit_remark_path(remark)%> 
		| <%= link_to "Delete", remark_path(remark)%>
	<%end%>
	
		<br>
	<%end%>

</div>