<br><br>
	 <div align="middle">

	<%if @previous_story.blank? == false%>
	 <%=link_to "<<", story_path(@previous_story, type: @type)%>
	 <%end%>
	 
	 <%= image_tag @existing_story.image_url(:thumb).to_s %>

	 <!-- <img src="/images/riley.jpg" width="400"/>  -->
	 
	 <%if @next_story.blank? == false%>
	 <%=link_to ">>", story_path(@next_story, type: @type)%>
	 <%end%>

	<h2 ><b><%=@existing_story.title%> - <%=@existing_story.kid.name %></b></h2>

	<h4>"<%=@existing_story.body %>"</h4>
	

<p>By: <%=@existing_story.user.first_name.capitalize%> | Date: <%=@existing_story.updated_at %> | Type: <%=@existing_story.share_type%> | Status: <%=@existing_story.status%>

	<% if can? :update, @existing_story  %>
		| <%= link_to "Edit Story", edit_story_path(@existing_story) %> |
		<%= link_to "Delete Story", story_path(@existing_story), method: :delete, confirm: "Are You Sure?" %>

	<%end%>
</p>
	
	<br>

	<%= render "ratings_partial" %>

	<h4>Comments</h4>
	<%= link_to "Create Comment", new_comment_path(story_id: @existing_story.id) %> 
<br>
	<%@comments.each do |comment| %>
	<%=comment.body%>	- <%=comment.user.first_name.capitalize%>  
	<%if can? :update, comment %>
		| <%= link_to "Edit Comment", edit_comment_path(comment)%> 
		| <%= link_to "Delete", comment_path(comment)%>
	<%end%>
	
		<br>
	<%end%>

</div>