
	<div align="middle">
		

		<%if @previous_story%>
			<%=link_to story_path(@previous_story, type: @type), id:"previous" do%>
				<span class="glyphicon glyphicon-circle-arrow-left"></span>
			<%end%>
		<%end%>
		<%=image_tag Image.where(story_id: @existing_story.id).first.s3_image_loc_url.to_s, class:"img-thumbnail"  if Image.where(story_id: @existing_story.id).first%>

		<%if @next_story%>
			<%=link_to story_path(@next_story, type: @type), id:"next" do%>
				<span class="glyphicon glyphicon-circle-arrow-right"></span>
			<%end%>
		<%end%>

	

	<h4><%=@existing_story.title%> </h4>

	<p align="left"><%=raw(@existing_story.body.gsub("\n", "<br>")) %>
		<br>
		~ <%=@existing_story.person.name%> - <%=@existing_story.date_occurred.strftime("%m/%d/%Y") if @existing_story.date_occurred%> <%=@age%></p>
	




	<%=render "facebook_partial"%>

<small>
	<%=@existing_story.status.capitalize%>
	by: <%=@existing_story.user.first_name.capitalize%> 

	<%if @existing_story.published_date != nil && @existing_story.status == "published"%>
		| <%=@existing_story.share_type%>
	<%end%>
</small>

	<% if can? :update, @existing_story  %>
		|&nbsp; 
		<%=link_to edit_story_path(@existing_story), id:"edit_story" do%>
			<span class="glyphicon glyphicon-pencil"></span>
		<%end%>

		&nbsp; | &nbsp;

		<%= link_to story_path(@existing_story), method: :delete, confirm: "Are You Sure?", id:"delete_story" do%>
			<span class="glyphicon glyphicon-remove"></span>
		<%end%>
	
	<%end%>

	
	<br>

<small>
	<%= render "ratings_partial" %>

</small>
<br>


<h5>
	Remarks
	<%=link_to new_remark_path(story_id: @existing_story.id), id:"create_remark" do%>
		<span class="glyphicon glyphicon-pencil"></span>
	<%end%>
	&nbsp;
</h5>

<%@remarks.each do |remark| %>
	<%=remark.body%>	- <%=remark.user.first_name.capitalize%>  
	<%if can? :update, remark %>
	
		<%=link_to edit_remark_path(remark), id:"edit_remark" do%>
			<span class="glyphicon glyphicon-pencil"></span>
		<%end%>

		&nbsp; | &nbsp;
		<%= link_to remark_path(remark.id), method: :delete, confirm: "Are You Sure?", id:"delete_remark" do%>
			<span class="glyphicon glyphicon-remove"></span>
		<%end%>
	
	<%end%>
	
		<br>
	<%end%>

</div>
<br>