<h1> Your Story </h1>
	 <img src="/images/riley.jpg" width="400"/>

	<%= label_tag "title", "Title:" %>
	<%= text_field_tag "title", @existing_story.title %> 
	<br>

	<%= label_tag "body", "Body:" %>
	<%= text_area_tag "body", @existing_story.body %>
	<br>

	<%= label_tag "share_type", "Share Type#:" %>
	<%= text_field_tag "share_type", @existing_story.share_type %>
	<br>

	<%= label_tag "status", "Status:#" %>
	<%= text_field_tag "status", @existing_story.status %>
	<br>

	<%= render "ratings_partial" %>


	<% if can? :update, @existing_story  %>
		<%= link_to "Edit Story", edit_story_path(@existing_story) %> |
		<%= link_to "Delete Story", story_path(@existing_story), method: :delete, confirm: "Are You Sure?" %> |

	<%end%>

	<%= link_to "Home", root_path%> | 
	<%= link_to "Show All", stories_path %> 
	<%unless current_user == nil%>
		| <%= link_to "Show Journal", stories_path(type: "personal") %> 
	<%end%>
		| <%= link_to "Create Comment", new_comment_path(story_id: @existing_story.id) %> 
 

	<br>
	<h4>Comments</h4>
	
	<%@comments.each do |comment| %>
	<%=comment.body%>	| <%=comment.user.first_name%> | <%=comment.story_id%> 
	<%if can? :update, comment %>
		| <%= link_to "Edit Comment", edit_comment_path(comment)%> 
		| <%= link_to "Delete", comment_path(comment)%>
	<%end%>
	
		<br>
	<%end%>