<h4>Login </h4> <!--(or < %=link_to "Sign up", new_user_registration_path%>)</h4>-->

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), role:"form") do |f| %>
	<div class="form-group">
	<%= f.label :email %>
  	<div class="row">
    	<div class="col-sm-4">
				<%= f.email_field :email, id: "email", class:"form-control" %>
			</div>
		</div>
  </div>

  <div class="form-group">
  	<%= f.label :password %>
  	<div class="row">
    	<div class="col-sm-4">
  			<%= f.password_field :password, id: "password", class:"form-control" %>
  		</div>
  	</div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div>
    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br>

  <p><small> By clicking "Agree & Login", I agree to the <%=link_to "Terms of Use", "/Terms_of_Use.pdf"%> and <%=link_to "Privacy Policy", "/Privacy_Policy.pdf"%>.</small></p>
  <br>

  <div><%= f.submit "Agree & Login", class:"btn btn-sm btn-success"%></div>
<% end %>
<br>

<%if current_user%>
  <%if current_user.is_admin?%>
    <%= render "devise/shared/links"%>
  <%end%>
<%end%>