<!DOCTYPE html>
<html>
<head>
  <title>App</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


  

  <%if @existing_story != nil %>
    <meta property="og:title" content="<%=@existing_story.title%>"/>
    <meta property="og:site_name" content="SMKS"/>
    <meta property="og:url" content="http://smks.herokuapp.com/story/<%=@existing_story.id%>"/>
    <meta property="og:description" content="<%=@existing_story.body%>"/>
    <%if @existing_story.images.first%>
      <meta property="og:image" content="<%=@existing_story.images.first.s3_image_loc%>"/>
    <%else%>
      <meta property="og:image" content=""/>
    <%end%> 
  <%end%>


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--    
  < %= stylesheet_link_tag    "application", :media => "all" %>
  -->
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>


  <!-- this is for facebook share functionality-->
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href= <%=home_path%> class="brand"> SMKS <small><i>beta</i></small></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Create
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%=link_to "New Story", new_story_path%></li>
            <%if user_signed_in?%>
              <%count = Story.where(user_id: current_user.id).where(status: "draft").count%>
              <%if count > 0%> 
                <li><a href=<%=stories_path(type: "draft")%>>Finish Drafts(<%=count%>)</a></li>
              <%end%>
            <%end%>
          </ul>
        </li>
        <%if user_signed_in?%>
        <li><a href=<%=stories_path(type: "personal")%>>My Stories</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Shared Stories
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            
            <li><a href=<%=stories_path(type: "shared")%>>Me & My Friends'</a></li>
            <li><a href=<%=stories_path(type: "public")%>>Everyone's</a></li> 
          </ul>
        </li>
        <%else%>
          <li><a href=<%=stories_path(type: "public")%>>Shared Stories</a></li> 
        <%end%>

        <%if user_signed_in?%>

          <% if Remark.where(viewed: nil).all(joins: :story, conditions: {stories: { user_id: current_user.id }}).count != 0%>
          <li><a href=<%=remarks_path%>>Inbox(<%=Remark.where(viewed: nil).all(joins: :story, conditions: {stories: { user_id: current_user.id }}).count%>)</a></li>
        <%end%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Housekeeping
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%=link_to "Edit Profile", edit_user_registration_path%></li>
            <li><%= link_to "Add/Edit Friendships", friendships_path%></li>
            <li><%= link_to "Add Kids to My List", people_path%></li>
            
            <%homepage_image = Image.where(user_id: current_user.id).where(show_on_homepage: true).first%>
            <%if homepage_image%>
            <li><%= link_to "Edit Homepage Pic", edit_image_path(homepage_image.id, type: "homepage_image")%></li>              
            <%else%>
            <li><%= link_to "Add Homepage Pic", new_image_path(type: "homepage_image")%></li>
            <%end%>
            <li><%= link_to 'Admin', admin_root_path if User.find(current_user.id).is_admin%></li>
          </ul>
        </li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li> 

        <%else%>
         
          <li><%= link_to "Login", new_user_session_path %></li>  
          <!--<li>< %= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%></li>-->
          
          <%if current_user%>
            <%if current_user.is_admin?%>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <%end%>
          <%end%>
        <%end%>


               



 </ul>







              </ul>
  
  </div>      
</nav>
     














    <%= yield %>
  
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</body>
  <div class="container">
      <hr />
    <div class="footer">
      <small>
      <%=link_to "about", about_path%> &nbsp;|&nbsp; 
      <%=link_to "problem", "" %> &nbsp;|&nbsp; 
      <%=link_to "privacy", "/Privacy_Policy.pdf" %> &nbsp;|&nbsp; 
      <%=link_to "terms of use", "/Terms_of_Use.pdf"%>
      <br>
      <i>  &copy; 2014 SGC Endeavors, LLC  All rights reserved.</i></small> <br><br><br>
    </div>
    </div>
  </div>
</html>
