<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%if @existing_story != nil %>
    <meta property="og:title" content="<%=@existing_story.title%>"/>
    <meta property="og:site_name" content="SMKS"/>
    <meta property="og:url" content="http://smks.herokuapp.com/story/<%=@existing_story.id%>"/>
    <meta property="og:description" content="http://smks.herokuapp.com/story/<%=@existing_story.body%>"/>
    <%if @existing_story.images.first%>
      <meta property="og:image" content="<%=@existing_story.images.first.s3_image_loc%>"/>
    <%else%>
      <meta property="og:image" content=""/>
    <%end%> 
  <%end%>
      




  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

  <!-- this is for facebook share functionality-->
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

  <div class="container-fluid">
    <br>

<div class="navbar navbar-fluid">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-th-list"></span>
            </a>
              <a tabindex=-1 href= <%=home_path%> class="brand"> <img style="width: 30px; height: 30px" src=""> SMKS</a>
          
            <div class = "nav-collapse collapse">
              <ul class="nav pull-right">

               
                <li><a href=<%=new_story_path%>>Create New</a></li>                              
                <% if user_signed_in? %>
                  <% count = Story.where(user_id: current_user.id).where(status: "draft").count%>
                  <%if count > 0%> 
                    <li><a href=<%=stories_path(type: "draft")%>>Finish Drafts(<%=count%>)</a></li>
                  <%end%>
                  <li><a href=<%=stories_path(type: "personal")%>>My Stories</a></li>
                  <li><a href=<%=stories_path(type: "shared")%>>My Friends'</a></li>
                  <li><a href=<%=friendships_path%>>+ Friends</a></li>
                <%end%>
               
                <li><a href=<%=stories_path(type: "public")%>>Public</a></li>                              
                
                <% if user_signed_in? %>
                  <li><%= link_to "Profile", edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>  
            
                <%else%>
                  <li><%= link_to "Login", new_user_session_path %></li>  
                  <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%></li>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
                  </ul>
                  <%end%>



              </ul>
            </div>
          </div>
        </div>
      </div>














    <%= yield %>
  </div>

</body>
</html>
