<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%if @existing_story != nil %>
    <meta property="og:title" content="<%=@existing_story.title%>"/>
    <meta property="og:site_name" content="SMKS"/>
    <meta property="og:url" content="http://smks.herokuapp.com/story/<%=@existing_story.id%>"/>
    <meta property="og:description" content="http://smks.herokuapp.com/story/<%=@existing_story.body%>"/>
    <%if @existing_story.images.first%>
      <meta property="og:image" content="<%=@existing_story.images.first.s3_image_loc%>"/>
    <%else%>
      <meta property="og:image" content=""/>
    <%end%> 
  <%end%>
      


<!--
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
-->
</head>
<body>

  <!-- this is for facebook share functionality-->
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

 <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">SMKS</a>
    <ul class="nav pull-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel1">
          <li><%=link_to "home", root_path%></li>

          <li><%=link_to "google", root_path%></li>

        </ul>
      </li>


      <li class="active"><a href="#">Home</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Link</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>













    <%= yield %>
  </div>

</body>
</html>
